[submodule "w3-1/test_erc20/lib/openzeppelin-contracts"]
	path = w3-1/test_erc20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w3-1/test_erc20/lib/solmate"]
	path = w3-1/test_erc20/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "w3-1/test_erc20/lib/forge-std"]
	path = w3-1/test_erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
